@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

html,
body {
  height: 100vh;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}
.font-fraunces {
  font-family: "Fraunces", serif;
}

body {
  background-color: #f2eae2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 37.5rem;
  display: flex;
  background: #fff;
  border-radius: 0.625rem;
  align-items: stretch;
}

.container .product-image {
  background-image: url("/images/image-product-desktop.jpg");
  width: 18.75rem;
  border-top-left-radius: 0.625rem;
  border-bottom-left-radius: 0.625rem;
  background-size: cover;
}

.container .product-image,
.container .product-info {
  flex: 1;
}

.container .product-info {
  padding: 2rem;
}

.product-info .product-category {
  color: #6c7289;
  font-family: Montserrat;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.3125rem;
}

.product-info .product-name {
  color: #1c232b;
  font-family: Fraunces;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
}

.product-info .product-description {
  color: #6c7289;
  font-family: Montserrat;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4375rem;
}

.product-info .product-price-container {
  display: flex;
  align-items: center;
}

.product-info .product-price-container > h1 {
  color: #3d8168;
  font-family: Fraunces;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  margin-right: 1.19rem;
}

.product-info .product-price-container > h4 {
  color: #6c7289;
  font-family: Montserrat;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4375rem; /* 176.923% */
  text-decoration-line: line-through;
}

.product-info .add-to-cart {
  background-color: #3d8168;
  border-radius: 0.5rem;
  width: 100%;
  padding: 1rem 0;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: Montserrat;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.product-info .add-to-cart img {
    margin-right: 0.5rem;
}

.product-info .add-to-cart:hover {
    background-color: #1A4032;
}

@media screen and (max-width: 767px) {
    .container {
        flex-direction: column;
    }
    .container .product-image {
        background-image: url("/images/image-product-mobile.jpg");
        height: 15rem;
        width: 100%;
        flex: none;
        border-radius: 0.625rem 0.625rem 0rem 0rem; 
    }
}